<body id="page-top" >
  <section id="first-heading">
    <div class="container">
      <div class="row ">
        <div class="col-md-7 offset-md-1 py-5">
          <h2 class="section-heading">
            This First <strong>Heading</strong> Will Catch Your Eye
          </h2>
          <p>
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
            ligula porta felis euismod semper. Praesent commodo cursus magna,
            vel scelerisque nisl consectetur.
          </p>
        </div>
        <div class="col-md-3 text-center py-5">
          <img
            src="assets/img/1.jpg"
            alt="Avatar circular"
                class="img-fluid rounded-circle"
    
          />
        </div>
      </div>
    </div>
  </section>
</body>
